<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layout :: master">
<body>
<div th:fragment="content">
    <section>

        <table>
            <caption th:text="#{product.products}">Products</caption>
            <thead>
            <tr>
                <th th:text="#{product.productId}">Product Id</th>
                <th th:text="#{product.productName}">Product name</th>
                <th th:text="#{product.description}">Description</th>
                <th th:text="#{product.price}">Price</th>
                <th th:text="#{product.available}">Available</th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="product : ${products}">
                <span th:if="${product.available == true}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.available}"></td>

                </span>
            </tr>
            </tbody>
        </table>

    </section>
</div>
</body>
</html>