<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layout :: master">

<body>
<div th:fragment="content">
    <section>
        <form
                action="#" th:action="@{/users/add}" th:object="${user}" method="post">

            <label for="userId" th:text="#{user.userId}"></label>
            <input id="userId" type="hidden" th:field="*{userId}"/>

            <label for="firstname" th:text="#{user.firstname}">firstname:</label>
            <input id="firstname" type="text" th:field="*{firstname}"/>

            <label for="lastname" th:text="#{user.lastname}">lastname:</label>
            <input id="lastname" type="text" th:field="*{lastname}"/>

            <label for="email" th:text="#{user.email}">email:</label>
            <input id="email" type="text" th:field="*{email}"/>

            <label for="password" th:text="#{user.password}">password:</label>
            <input id="password" type="text" th:field="*{password}"/>

            <label for="login" th:text="#{user.login}">login:</label>
            <input id="login" type="text" th:field="*{login}"/>

            <label for="role" th:text="#{user.role}">role:</label>
            <select id="role" th:field="*{role}">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}">USER</option>
            </select>
            <input type="radio" name="approved" value="true"/>Approved
            <input type="radio" name="approved" value="false"/>False

            <input type="submit" value="Submit" th:value="#{general.submit}"/>
            <input type="reset" value="Reset" th:value="#{general.reset}"/>
        </form>


    </section>
</div>
</body>
</html>