<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layout :: master">

<body>
<div th:fragment="content">
    <section>
        <form
                action="#" th:action="@{/user/userProducts/addProduct}" th:object="${product}" method="post">
            <legend th:text="#{general.form}">Form</legend>

            <!--<label for="productId" th:text="#{product.productId}"></label>-->
            <input id="productId" type="hidden" th:field="*{productId}"/>
            <fieldset>
                <legend th:text="#{general.aboutProduct}">About Product</legend>
            <label for="productName" th:text="#{product.productName}">productName:</label>
            <input id="productName" type="text" th:field="*{productName}"/><br/>

            <label for="description" th:text="#{product.description}">description:</label>
            <input id="description" type="text" th:field="*{description}"/><br/>

            <label for="price" th:text="#{product.price}">price:</label>
            <input id="price" type="text" th:field="*{price}"/>
                </fieldset>

                <fieldset>
                    <legend th:text="#{product.available}">Available</legend>

            <label for="available" th:text="#{product.available}">available:</label>
                    <input id="available" type="radio" name="available" th:value="true"/>true
                    <input id="available" type="radio" name="available" th:value="false"/>false
                </fieldset>
            <input type="submit" value="Submit" th:value="#{general.submit}"/>
            <input type="reset" value="Reset" th:value="#{general.reset}"/>
        </form>


    </section>
</div>
</body>
</html>