<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layout :: master">
<body>
<div th:fragment="content">
    <section>

        <table>
            <caption th:text="#{product.products}">Products</caption>
            <thead>
            <tr>
                <th th:text="#{product.productId}">id</th>
                <th th:text="#{product.productName}">name</th>
                <th th:text="#{product.description}">opis</th>
                <th th:text="#{product.price}">Price</th>
                <th th:text="#{product.available}">Available</th>
                <th th:text="#{product.user}">User</th>
                <th th:text="#{general.addProduct}">Add Product</th>


            </tr>
            </thead>
            <tbody>

            <tr th:each="product : ${products}">

                    <span th:if="${product.available == true}">

                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.available}"></td>
                <td th:text="${product.user.login}"></td>
                <td><a th:href="@{/products/add/{id}(id=${product.productId})}"><button th:text="#{general.addProduct}">Add Product</button></a> </td>
                    </span>
            </tr>
            </tbody>
        </table>

        <aside id="product">
            <ul>
                <!--/*@thymesVar id="basket" type="java.util.Set<pl.SznaKuKZie.project.product.model.Product>"*/-->
                <li th:each="product : ${basket}" th:text="${product.productName}">name</li>
            </ul>
        </aside>
    </section>
</div>
</body>
</html>