<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:fragment="master">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Simple Shop</title>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<header></header>
<nav>
    <ul>
        <li><a href="/user/userProducts"><i class="fa fa-contao"></i> my products</a></li>
        <li><a href="/user/products"><i class="fa fa-contao"></i> products</a></li>
        <li><a href="/user/basket"><i class="fa fa-contao"></i> basket</a></li>
        <li><a href="/logout"><i class="fa fa-contao"></i> log out</a></li>
        <li><a href="/login"><i class="fa fa-contao"></i> log</a></li>
        <li><a href="/admin"><i class="fa fa-contao"></i> users list</a></li>
        <li><a href="registry"><i class="fa fa-contao"></i>  registry </a></li>
        <li><a href="/user/userOrder"><i class="fa fa-contao"></i>  orders </a></li>
        <li><a href="/home"><i class="fa fa-contao"></i>  home dla guesta </a></li>

    </ul>
</nav>
<div th:include="this :: content"></div>
<footer id="footer">© 2019 natalia.pl</footer>

</body>
</html>
